@media screen and (max-width:1300px) {

    .main-img img {
        width: 460px;
    }

    .main .details {
        width: 80%;
    }

    :root {
        --fz-xbig: 40px;
        --fz-big: 34px;
        --fz-med: 23px;
        --fz-small: 19px;
        --fz-xsmall: 18px;
        --fz-xxsmall: 16px;
    }

}

@media screen and (max-width:1250px) {

    .navbar {
        margin: 0 44px 114px 90px;
    }

    .sticky {
        position: fixed !important;
        top: 0 !important;
        left: 0;
        width: 100%;
        background-color: rgba(82, 95, 225, 0.8);
        margin: 0 auto;
        z-index: 999999999;
        padding: 10px 27px 10px 90px;

        transition: all 0.3s;
    }

    .first_vue {
        margin: 0 80px 100px 100px;
    }

    .sponsors .spn:nth-child(1) img {
        width: 160px;
    }

    .sponsors .spn:nth-child(2) img {
        width: 160px;
    }

    .sponsors .spn:nth-child(3) img {
        width: 180px;
    }

    .sponsors .spn:nth-child(4) img {
        width: 190px;
    }

    .sponsors,
    .double-spn {
        gap: 80px;
    }

    .parts {
        transform: scale(0.8);
    }

    .qsts .question-answer .question {
        gap: 90px;
    }

    .about-container .big-card {
        margin: 0 50px;
    }

}

@media screen and (max-width:1200px) {
    .main-img img {
        width: 390px;
    }

    .whyus_container .cards {
        gap: 30px;
    }

    .whyus_container .cards .card {
        width: 290px;
        height: 290px;
    }

    .about-container .big-card .card {
        margin: 0px 40px 0;
        gap: 30px;
    }

    .about-container .big-card .card img {
        width: 400px;
    }

    :root {
        --fz-xbig: 37px;
        --fz-big: 30px;
        --fz-med: 21px;
        --fz-small: 18px;
        --fz-xsmall: 17px;
        --fz-xxsmall: 15px;
    }
}

@media screen and (max-width:1050px) {
    .social-medias {
        gap: 10px;
    }

    .contact {
        gap: 70px;
    }

    .contact img {
        width: 28px;
    }

    .main-img img {
        width: 340px;
    }

    .flex-container {
        padding-bottom: 50px;
    }

    :root {
        --fz-xbig: 34px;
        --fz-big: 27px;
        --fz-med: 20px;
        --fz-small: 17px;
        --fz-xsmall: 16px;
        --fz-xxsmall: 14px;
    }

    .joinus .joinus-card {
        width: 750px;
    }

    .joinus-card-speech {
        width: 70%;
    }

    .questions-container .questions {
        gap: 30px;
    }

    .navbar {
        margin: 0 34px 114px 60px;
    }

    .sticky {
        position: fixed !important;
        top: 0 !important;
        left: 0;
        width: 100%;
        background-color: rgba(82, 95, 225, 0.8);
        margin: 0 auto;
        z-index: 999999999;
        padding: 10px 22px 10px 60px;

        transition: all 0.3s;
    }

    .first_vue {
        margin: 0 70px 100px 70px;
    }

    .btn3 button {
        padding: 10px 20px;
    }

    .btns .btn3 button {
        padding: 10px 30px;
    }

    .btn1 button {
        padding: 8px 28px;
    }

    .main .buttons .btn1 button {
        padding: 8px 35px;
    }

    .btn2 button {
        padding: 10px 12px;
    }

    .parts {
        transform: scale(0.65);
    }

    .sponsors .spn:nth-child(1) img {
        width: 120px;
    }

    .sponsors .spn:nth-child(2) img {
        width: 120px;
    }

    .sponsors .spn:nth-child(3) img {
        width: 140px;
    }

    .sponsors .spn:nth-child(4) img {
        width: 150px;
    }
}

@media screen and (max-width:1000px) {
    .nav_loglink {

        gap: 40px;
    }

    .whyus_container .cards {
        flex-direction: column;
        width: 70%;
        align-items: center;
    }

    .whyus_container .cards .card {
        width: 90%;

    }

    .whyus_container .cards .card .tit {
        margin: 0;
    }

    .whyus_container .cards .card .spch {
        width: 50%;
    }

    .whyus_container .cards {
        gap: 70px;
    }

    .main .details {
        width: 100%;
    }

    .questions-container .header {
        gap: 200px;
    }

    .qsts .question-answer .question {
        gap: 40px;
    }

    .about-container .big-card .card img {
        width: 300px;
    }

    .sp .tit {

        margin: 20px 0px 16px;
    }

    .about-container .big-card .card {

        gap: 0;
    }

    .nav_loglink img {
        width: 110px;
    }

    .flex-container .speech {
        width: 80%;
    }

    .first_vue {
        margin: 0 25px 100px 60px;
    }
}

@media screen and (max-width:850px) {
    .sponsor {
        background-color: #525FE1;
        padding: 33px 0px 53px;

    }

    .howitwork-container {
        margin: 0 100px;
    }

    .t {
        display: none;
    }

    .tt {
        position: absolute;
        display: block;
        top: -20px;
        left: 0;

    }

    .howitwork-container {
        margin: 0;

        overflow-x: hidden;

    }

    .double_parts:nth-child(2) {
        padding-bottom: 100px;
    }

    .t2 {
        left: -150px;
    }

    .parts {
        flex-direction: column;
        transform: scale(0.9);
        gap: 170px;

    }

    .nav_loglink img {
        width: 90px;
    }

    :root {
        --fz-xbig: 33px;
        --fz-big: 25px;
        --fz-med: 18px;
        --fz-small: 16px;
        --fz-xsmall: 15px;
        --fz-xxsmall: 13px;
    }

    .main-img img {
        width: 290px;
    }

    .navbar {
        margin: 0 25px 114px;
    }

    .sticky {
        position: fixed !important;
        top: 0 !important;
        left: 0;
        width: 100%;
        background-color: rgba(82, 95, 225, 0.8);
        margin: 0 auto;
        z-index: 999999999;
        padding: 10px 25px 10px;

        transition: all 0.3s;
    }

    .sponsors .spn:nth-child(1) img {
        width: 100px;
    }

    .sponsors .spn:nth-child(2) img {
        width: 100px;
    }

    .sponsors .spn:nth-child(3) img {
        width: 120px;
    }

    .sponsors .spn:nth-child(4) img {
        width: 130px;
    }

    .joinus .joinus-card {
        width: 70%;
    }

    .nav_links {

        gap: 12px;
    }
}


@media screen and (max-width:750px) {
    .steps img {
        width: 500px;
    }

    .infos {
        width: 642px;
    }

    .about-container .big-card {
        margin: 0 20px;
    }

    .about-container .big-card .card {
        margin: 0px 20px 0;

    }

    .questions-container .header {
        gap: 100px;
    }

    .joinus-card-speech {
        width: 90%;
    }

    .footer .spch {
        width: 50%;
    }

    .contact {
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
    }

    .main-img img {
        width: 250px;
    }

    :root {
        --fz-xbig: 32px;
    }

}


@media screen and (max-width:700px) {
    .screen .navbar {
        margin: auto 30px 60px;

    }

    .steps img {
        width: 400px;
    }

    .infos {
        width: 542px;
    }

    .sponsors {
        flex-direction: column;
        margin-top: 40px;
        gap: 40px;
    }

    .sponsors .spn:nth-child(1) img {
        width: 120px;
    }

    .sponsors .spn:nth-child(2) img {
        width: 120px;
    }

    .sponsors .spn:nth-child(3) img {
        width: 140px;
    }

    .sponsors .spn:nth-child(4) img {
        width: 150px;
    }

    .main-img img {
        display: none;
    }

    .main {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .about-container .big-card .card {

        align-items: center;
        text-align: center;
    }

    .about-container .big-card .card1 {
        flex-direction: column-reverse;
    }

    .about-container .big-card .card2 {
        flex-direction: column;
    }

    .questions {
        flex-direction: column;
    }

    .qsts .question-answer .answer {
        font-size: var(--fz-small);
        font-family: var(--ff-small);
        margin-top: 70px;
        width: 90%;
    }

    .about-container .big-card {
        gap: 100px;
    }

    .joinus .joinus-card {
        width: 90%;
    }

    .questions-container .questions {
        gap: 0px;
    }

    .hidden {
        display: none;
    }

    .showmore {
        display: block;
    }

    .first_vue {
        margin: 0 60px 100px;
        gap: 0;
    }
}

@media screen and (max-width:650px) {
    .nav_links {
        display: none;
    }

    .screen .navbar {
        margin-bottom: 100px;
        position: relative;

    }

    .screen .navbar .logo img {
        width: 90px;
    }

    .screen .navbar .nav_links {
        display: flex;
        width: 100%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        margin: 0 auto;
        top: 100%;
    }

    .questions-container .header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    .questions-container .header .head-main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}

@media screen and (max-width:550px) {

    :root {
        --fz-xbig: 31px;
        --fz-big: 24px;
        --fz-med: 17px;
        --fz-small: 15px;
        --fz-xsmall: 14px;
        --fz-xxsmall: 12px;
    }

    .screen .navbar .nav_links .frst {
        font-size: var(--fz-big);
    }

    .nm-tel {
        flex-direction: column;
    }

    .infos {
        width: 90%;

    }

    .info {
        padding: 0;
    }

    .table .steps {
        width: 90%;
        padding: 30px 10px;
        text-align: center;
    }

    .steps img {
        width: 100%;
    }

    .whyus_container .cards {

        width: 90%;

    }

    .double_parts {
        flex-direction: column;

    }

    .double_parts .part1 {
        margin-right: 220px;
    }

    .double_parts .part2 {
        margin-left: 220px;
        margin-top: -100px;
    }

    .double_parts:nth-child(2) {

        margin-top: -170px;
    }

    .double_parts:nth-child(2) .part4 {
        margin-top: -50px;
        margin-left: 200px;
    }

    .tt {
        display: none;
    }

    .t12 {
        display: block;
        position: absolute;
        top: 0;

        left: 50%;
        transform: translateX(-50%);

    }

    .t12 img {
        width: 450px;
    }

    .howitwork-container {
        padding-bottom: 0;
    }

    .howitwork-container .speech {
        margin-bottom: 0;
    }

    .sponsor {
        margin-top: 0;
    }

}

@media screen and (max-width:500px) {


    .detail-inplabel .label {
        font-size: var(--fz-xxsmall);
    }

    .info {
        margin: 50px 30px;
    }

    .vect img {
        width: 18px;
    }

    .btns {
        margin: 0 20px;
    }

    .btns .btn3 button {
        padding: 10px 22px;
    }

    .btn1 button {
        padding: 8px 20px;
    }

    .nav_buttons .btn1 {
        display: none;
    }

    .main .buttons {

        flex-direction: column;
        width: 70%;
    }

    .main .buttons button {


        width: 80%;
    }

    .about-container .big-card .card img {
        width: 230px;
    }

}

@media screen and (max-width:400px) {
    .parts {
        transform: scale(0.75);
    }

    .sponsors .spn:nth-child(1) img {
        width: 100px;
    }

    .sponsors .spn:nth-child(2) img {
        width: 100px;
    }

    .sponsors .spn:nth-child(3) img {
        width: 120px;
    }

    .sponsors .spn:nth-child(4) img {
        width: 130px;
    }

    .qsts .question-answer .question {
        gap: 10px;
    }


    .main .buttons button {


        width: 100%;
    }

    .first_vue {
        margin: 0 20px 100px;
        gap: 0;
    }
}

@media screen and (max-width : 350px) {
    .parts {
        transform: scale(0.7);
    }
}

@media screen and (min-width : 1650px) {
    .qsts .question-answer {
        max-width: 671px;
    }

    :root {
        --fz-xbig: 54px;
        --fz-big: 45px;
        --fz-med: 26px;
        --fz-small: 22px;
        --fz-xsmall: 20px;
        --fz-xxsmall: 18px;
    }

    .main-img img {
        width: 600px;
    }

    .first_vue {
        justify-content: center;

    }

    .whyus_container .cards .card {
        width: 400px;
    }

    .about-container .big-card {
        max-width: 1400px;
    }

    .about-container .big-card img {
        width: 530px;
    }

    .howitwork-container {
        margin: 0px 160px;
    }

    .parts .part {
        width: 300px;
    }

    .t img {
        width: 1400px;
    }

    .joinus .joinus-card {
        width: 1252px;
        padding: 77px;
    }

    .questions-container .header .title {
        max-width: 289px;
    }
}

@media screen and (min-width : 1750px) {
    :root {
        --fz-xbig: 60px;
        --fz-big: 48px;
        --fz-med: 26px;
        --fz-small: 22px;
        --fz-xsmall: 20px;
        --fz-xxsmall: 18px;
    }
}

@media screen and (min-width : 1800px) {
    :root {
        --fz-xbig: 64px;
        --fz-big: 48px;
        --fz-med: 26px;
        --fz-small: 22px;
        --fz-xsmall: 20px;
        --fz-xxsmall: 18px;
    }
}


@media screen and (min-width : 1850px) {
    :root {
        --fz-xbig: 68px;
        --fz-big: 52px;
        --fz-med: 26px;
        --fz-small: 22px;
        --fz-xsmall: 20px;
        --fz-xxsmall: 18px;
    }

    .whyus_container .cards .card {
        width: 500px;
    }

    .about-container .big-card {
        max-width: 1700px;
    }

    .main-img img {
        width: 650px;
    }

    .main {
        margin-left: 50px;
    }
}

@media screen and (min-width : 1850px) {
    .first_vue {
        margin: 0 auto;
    }
}